* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #fff;
    padding: 30px;
}

li {
    list-style: none;
    padding: 10px;
    display: inline;
    font-size: 20px;

}

a {
    text-decoration: none;
}

a:hover {
    color: #5ece7b;
    transition: 0.3s;
}

.icon {
    margin-left: 800px !important;
    width: 100px !important;
}

.icons {
background-color: #f8f9fa;
padding: 10px;
    /* margin-top:20px; */
    /* margin-left: 80px; */
    /* width: -300px; */
    /* padding-left: -200px; */
}

/* modal styling */
.modal_img {
    width: 80px;
    margin-left: 50px;
}

.modal_box {
    border-bottom: 1px solid black;
    overflow: scroll;

}

.prize {
    margin-left: 30px;
}

.sizes {
    margin: 5px;
    /* margin-left: 50px; */
}

.size {
    padding: 5px;
    background-color: #000;
    color: #fff;
    margin: 2px;
}

.size:hover {
    background-color: #fff;
    color: #232323;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s;
}

.color_red {
    background-color: rgb(231, 20, 20);
    width: 30px;
    padding: 5px;
    font-size: 10px;
    color: #fff;

}

.color_green {
    background-color: rgb(69, 231, 20);
    width: 30px;
    padding: 5px;
    font-size: 10px;
    color: #fff;

}

.color_blue {
    background-color: rgb(20, 41, 231);
    color: #fff;
    width: 30px;
    padding: 5px;
    font-size: 10px;
}

.color_red :hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    transition: 0.4s;
}

.color_green:hover {
    cursor: pointer;
    background-color: rgb(30, 255, 0);
    transition: 0.4s;
}

.color_blue:hover {
    cursor: pointer;
    background-color: rgb(17, 0, 255);
    transition: 0.4s;
}


/* .btn:hover{
    cursor: pointer;
} */
/* li:hover { */
    /* color: #5ece7b !important;
    transition: 0.5;
    cursor: pointer; */
/* } */

/* home */

.new_arrivals {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.main_home_section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    margin: 15px;
}

.colleaction_heading {
    color: #232323;
    text-align: center;
}

.side_heading {
    text-align: center;
}

.R {
    color: #232323;
}

.box_img_1 {
    width: 300px;
}

.section_heading {
    margin: 30px;
}

.data_section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px;
}

.cards {
    margin: 30px;
    border: 1px solid black;
    height: 450px;
}

.cards_data {
    border-bottom: 1px solid black;
}

.card_img {
    width: 200px;
    height: 200px;
}

.cards:hover {
    cursor: pointer;
    transition: 0.7s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.box_text {
    padding: 10px;
}

.button {
    padding: 10px;
    border: 2px solid black;
    /* margin: 10px 00 0px 90px; */
    /* margin: 10px; */
    margin-left: 30px;

}

.button_cart {
    padding: 5px;
    margin-left: 60px;
    margin-top: 10px;
}

.button_cart:hover {
    background-color: #5ece7b;
    color: #000;
    border: none;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #5ece7b;
    color: #000;
    border: none;
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}

/* bags */
.main_bags_section {
    display: flex;
}

.bags_img {
    width: 50px;
    margin: 50px;
    margin-bottom: -40px;
}

.bags_img_full {
    width: 300px;
}

.bags_img_full:hover {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 0.10s;
    cursor: pointer;
}

.section {
    display: flex;
    justify-content: space-evenly;
}

.bags_sizes_data {
    padding: 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    margin: 50px 20px 0 20px;
    font-size: 20px;

}

.bags_sizes_data:hover {
    background-color: #000;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.bags_sizes_data_red {
    background-color: crimson;
    padding: 10px;
    margin-right: 10px;
}

.bags_sizes_data_green {
    background-color: rgb(143, 220, 20);
    padding: 10px;
    margin-right: 10px;
}

.bags_sizes_data_green:hover {
    background-color: rgb(150, 238, 10);
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.bags_sizes_data_blue {
    background-color: rgb(20, 57, 220);
    padding: 10px;
    margin-right: 10px;
}

.bags_sizes_data_blue:hover {
    cursor: pointer;
    background-color: rgb(18, 76, 236);
    transition: 0.4s;
}

.bags_sizes_data_red:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    transition: 0.4s;
}

.sizes {
    /* background-color: #5ece7b; */
    margin-right: 50px;
}

.color {
    margin-right: 10px;

}

.main_cart_section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px;
}

.cart_img img {
    width: 200px;
}

.price_text {
    width: 100px;
    margin-left: 40px;
}

.paragraph_modal {
    margin-top: 30px;
     margin-left: -10px;
}
.img_modal{
    width: 80px;
     margin-left:10px
}
.cart_btn {
    background-color: #232323;
    color: #fff;
    height: 30px;
    padding: 5px;
    width: 10px;
}

.counter {
    /* background-color: aqua; */
    height: 50px;
    padding: 20px;
    margin-left: -20px;
}

.count {
    /* background-color: blue; */
    padding: 10px;


}
.badge {
    width: '10px';
    margin-left: '90%';
    margin-top: '-30px';
    background-color: 'white';
}
 /* Form Styling  */

 /* .main_signup{
    background-color: #5ece7b;
    height: 100vh;
    width: 100%;
    padding-top: 100px;
 } */

 .section{
    display: flex;
    justify-content: space-evenly;
     flex-wrap: wrap;
     margin: 80px auto;
     width: 80%;
     font-family: serif;
     margin-left: 70px;
 }
 .lorem_para{
    color:#9555ff;
 }
 /* .text{
 } */
 img{
    width: 450px;
 }
 .form{
    margin-top: 30px;
    height: 100px;
    background-color: #9555ff;
    width:300px;

 }
 input{
    border: none;
    border-bottom: 1px solid  #9555ff;
    /* background-color:#ddebf3 ; */
    width: 300px;
    height: 50px;
    padding-left: 10px;
    

 }
 input:focus{
    border-bottom: 1px solid #f39e1d;
 }
.login_btn{
    background-color: #9555ff;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}
.login_btn:hover{
    cursor: pointer;
    background-color: #fff;
    color:#9555ff;
    transition: 0.5s;
    border: 1px solid#9555ff;
}

 input:focus{
    outline: none;
 }

 .login{
    margin-top: 10px;
    text-align: center;
 }

 /* drawer */
.profile_data{
    /* background-color: blue; */
    text-align: center;
    width: 200px;
    margin: 0px auto;
}
 .img_profile img{
    width: 100px;
    margin: 0px auto;
 }
 .profile{
    /* margin-left: 600px; */
 }
 .profile:hover{
    cursor: pointer;
    color: rgb(88, 88, 233);
    transition: 0.5s;
 }
 .space{
    border: none;
 }
 .details{
    margin-top: 30px;
 }
 /* pdf  */
 .pdf_btn{
    margin: 10px;
    width: 100px;
    background-color: #5ece7b;
    color: #fff;
    border: none;
    padding: 5px;
 }
 .pdf_btn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.4s;
 }

 @media only screen and (max-width: 412px) {
    .profile {
        margin: 0px;
    }
    .icons{
        margin: 0px;
    }
    
  }